# Django
DJANGO_SECRET_KEY=SET_DJANGO_SECRET_KEY_HERE
DJANGO_DEBUG=yes
DJANGO_ALLOWED_HOSTS=*
DJANGO_EMAIL_URL=consolemail://

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=python_test_task
POSTGRES_USER=test_task_user
POSTGRES_PASSWORD=secret_password

# Put your environment variables here
REDIS_URL=redis://localhost:6379/0